* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: #d36e3f;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: bisque;
}

header a {
    text-decoration: none;
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding:10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("../images/hero_mosaic.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.hero h2 {
    display: inline-flex;
    align-items: flex-end;
    font-size: 36px;
    font-weight: lighter;
    color: bisque;
    float: right;
    padding-right: 20px;
}

.hero h2 span {
    padding: 5px;
    background-color: #d36e3f;
}

.profile-picture {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
}

body {
    background-color: #f3d0be;
    color: rgb(122, 20, 2);
    font-family: Arial, Helvetica, sans-serif;
}

/* styling for Flex Container and Section Title*/
.container{
    width: 100%;
}

.item-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
}

.title-container {
    display: flex;
    width: 15%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}

.content-container {
    display: flex;
    width: 100%;
    padding-left: 20px;
    border-left: 3px solid;
}


.section-title {
    display: flex;
    font-size: 38px;
    text-align: right;
    height: 100%;
}

/*end of styling for Flex Container and Section Titles*/


/* styling for About Me */
.about-me {
    padding: 25px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bio {
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 26px;
    line-height: 1.3;
    width: 70%;
}
/* end of styling for About Me*/

/* styling for My Work */
.my-work {
    padding: 25px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.project-grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-gap: 15px;
}

.project-grid-item {
    background-color: #d36e3f;
    border: 2px solid;
    color: black;
}

.a1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../images/run-buddy.JPG");
    background-size: auto;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../images/run-buddy.JPG");
    background-size: auto;
} 

.a2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url("../images/Horiseon.JPG");
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url("../images/Horiseon.JPG");
}

.a3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url("../images/fanpage.JPG");
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url("../images/fanpage.JPG");
}

.a4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../images/Spotify.JPG");
}

.box4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../images/Spotify.JPG")
}

.a5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url("../images/Nomader_Screenshot.JPG")
}

.box5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url("../images/Nomader_Screenshot.JPG")
}

.a1:hover {
    opacity: 0.3; 
}

.box1:hover {
    opacity: 0.3; 
}

.a2:hover {
    opacity: 0.3; 
}

.box2:hover {
    opacity: 0.3; 
}

.a3:hover {
    opacity: 0.3; 
}

.box3:hover {
    opacity: 0.3; 
}

.a4:hover {
    opacity: 0.3; 
}

.box4:hover {
    opacity: 0.3; 
}

.a5:hover {
    opacity: 0.3; 
}

.box5:hover {
    opacity: 0.3;      
}

/* end of styling for My Work */


/* styling for Contact Section */
.contact-info {
    padding: 25px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    padding-left: 20px;
    border-left: 3px solid;
}

.contact-item-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    border-bottom: 3px solid;
    font-weight: lighter;
    font-size: 1.5vw;
    height: 50%;
    margin-top: 15px;
}


/* end of styling for Contact Section */

